{{ block "index" . }}
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Parallel Course Work Client</title>
            <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="./styles/styles.css">
        </head>
        <body>
            <div>
                {{ template "add-remove-form" . }}
            </div>
            {{ template "search-form" . }}
            <hr />
            <div id="history-container" style="display: flex; flex-direction: column; gap: 20px; "></div>
        </body>
    </html>
{{ end }}

{{ block "add-remove-form" . }}
    <form id="add-remove-form">
        <label for="file-path">File Path:</label>
        <input type="text"
               id="file-path"
               name="file-path"
               placeholder="Enter file path..."
               style="margin-right: 10px;" />

        <button type="button"
                class="upload-btn"
                hx-post="/add-file"
                hx-trigger="click"
                hx-target="#status-message"
                hx-swap="innerHTML" style="margin-right: 10px;">
            Add File
        </button>

        <button type="button"
                class="delete-btn"
                hx-post="/remove-file"
                hx-trigger="click"
                hx-target="#status-message"
                hx-swap="innerHTML" style="margin-right: 10px;">
            Delete File
        </button>

        {{ template "status-message" .  }}
    </form>

    <script>
        document.body.addEventListener("htmx:afterRequest", function(event) {
            const form = document.getElementById('add-remove-form');
            if (form) {
                form.reset();
            }
        });
    </script>
{{ end }}

{{ block "status-message" .  }}
    <div id="status-message"
         class="status-message"
         style="margin: 20px 0px; padding: 0">
        {{ .Status }}
    </div>
{{ end }}

{{ block "search-form" . }}
    <form id="search-form" hx-post="/search" hx-target="#history-container" hx-swap="afterend" hx-trigger="submit">
        <label for="search">Search:</label>
        <input type="text" id="search" name="search" placeholder="Enter your search query..." />
        <button type="submit" class="search-btn" hx-trigger="submit,reset">Search for results</button>
    </form>

    <script>
        document.body.addEventListener("htmx:afterRequest", function (event) {
            const form = document.getElementById('search-form');
            if (form) {
                form.reset();
            }
        });
        document.body.addEventListener("htmx:afterRequest", function (event) {
            if (event.detail.elt && event.detail.elt.id !== "search-form") {
                return
            }

            const historyItems = document.querySelectorAll(".history-item");
            if (historyItems.length === 0) {
                return
            }

            historyItems.forEach((historyItem, globalIndex) => {
                const fileBlocks = historyItem.querySelectorAll(".file-block");
                fileBlocks.forEach((fileBlock, fileIndex) => {
                    const fileContent = fileBlock.nextElementSibling;
                    if (fileContent && fileContent.classList.contains("file-content")) {

                        const baseId = `content-${globalIndex}-${fileIndex}`;
                        if (fileContent.getAttribute("id") !== baseId) {
                            fileContent.setAttribute("id", baseId);

                            const downloadButton = fileBlock.querySelector(".download-btn");
                            if (downloadButton) {
                                downloadButton.setAttribute("hx-target", `#${baseId}`);
                            }
                        }
                    }
                });
            });
        });
    </script>
{{ end }}

{{ block "history-item" . }}
<div class="history-item" style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; margin-top: 20px;">
    <div style="margin-left: 10px;">
        <p style="margin-bottom: 5px;">
            <strong>Request: </strong> {{ .Query }}
        </p>
    </div>
    <div style="display: flex; flex-direction: column; gap: 10px; max-height: 600px; overflow-y: auto; ">
        {{ if .Files }}
        {{ range $index, $file := .Files }}
        <div style="border: 1px solid #ddd; border-radius: 5px; margin-top: 5px;">
            <div class="file-block" style="display: flex; justify-content: space-between">
                <p>
                    <strong>FileName:</strong> <span>{{ . }}</span>
                </p>
                <button
                                hx-get="/download?filename={{ . }}"
                                hx-trigger="click"
                                hx-target="#content-{{ $index }}"
                                hx-swap="innerHTML"
                                class="download-btn"
                        >
                            Download
                        </button>
                    </div>
                    <div id="content-{{ $index }}" class="file-content"></div>
<!--                            id="content-{{ . | safeID }}-{{ $index }}" -->
                </div>
            {{ end }}
            {{ else }}
                <p>No results found.</p>
            {{ end }}
        </div>
    </div>
{{ end }}

{{ block "file-content" . }}
    <div style="white-space: pre-wrap;">
        {{ .FileContent }}
    </div>
{{ end }}